@page
@model Namegiver.Pages.AddNameModel
@{
	ViewData["Title"] = "AddName";
	Layout = "_Layout";
}

@section Scripts {
	<script src="~/js/addname.js"></script>
}

<form method="post">
	@Html.AntiForgeryToken()
	<div class="form-group">
		<h2>Add a new name:</h2>
		<input type="text" class="form-control" name="Name" autofocus>
	</div>
	<button type="submit" class="btn btn-default">Add</button>
</form>
@if (!string.IsNullOrWhiteSpace(Model.Status))
{
	<br/>
	<p>@Model.Status</p>
}
<br />
<a href="/">Go back</a>