@page "{id:int}"
@model Namegiver.Pages.CharacterModel
@{
	ViewData["Title"] = "Character";
	Layout = "_Layout";
}

<h2>Character</h2>

<div class="row">
	@if (!string.IsNullOrWhiteSpace(Model.Name.Properties.ImageUrl))
	{
		<div class="span2">
			<img class="img-rounded img-character" src="@Model.Name.Properties.ImageUrl" alt="Character profile image" />
		</div>
	}
	<div class="span4">
		<blockquote>
			@{
				var nameInfos = Model.Name.Infos.ToList();
				for (int i = 0; i < nameInfos.Count; i++)
				{
					var nameInfo = nameInfos[i];
					string name = nameInfo.Name;
					if (i < nameInfos.Count - 1)
					{
						name += ",";
					}
					<span title="@nameInfo.Language">@name</span>
				}
			}
		</blockquote>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		@if (!string.IsNullOrWhiteSpace(Model.Name.Properties.InfoUrl))
		{
			<a href="@Model.Name.Properties.InfoUrl" target="_blank">More information</a>
		}
		else
		{
			<span>No more information</span>
		}
		<span> | </span>
		<a href="/@Model.NameInfoId">Go back</a>
	</div>
</div>