@page "{id:int}"
@model Namegiver.Pages.CharacterModel
@{
	ViewData["Title"] = "Character";
	Layout = "_Layout";
}

<h2>Character</h2>

<h3>Names</h3>
@foreach (var nameInfo in Model.Name.NameInfos)
{
	<p title="@nameInfo.Language">@nameInfo.Name</p>
}
