@page
@model Namegiver.Pages.TopRejectedNamesModel
@{
	ViewData["Title"] = "TopRejectedNames";
	Layout = "_Layout";
}

@using Namegiver.Models

<h2>Top Rejected Names</h2>

<div class="row header">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-4">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Rejected Count</th>
				</tr>
			</thead>
			<tbody>
@{
			foreach (NameInfo info in Model.TopList)
			{
				<tr>
					<td>@info.Name</td>
					<td>@info.RejectedCount</td>
				</tr>
			}
}
			</tbody>
		</table>
	</div>
	<div class="col-xs-4">
	</div>
</div>