body {
	background-image: url("../images/background.jpg");
	background-repeat: repeat-y;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a:hover {
	text-decoration: none;
}

.see-through-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.95);
}

.loader {
	display: inline-block;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #bbb;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}